html {
    background: #181A1B;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    background-color: #292c2d;
    color: #d8d4cf
}

p a {
    color: #3391ff;
}

li a {
    color: #3391ff;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
.date {
}

footer a { 
    color: #3391ff;
    text-decoration: none; 
}

hr {
    border-style: dashed;
    color: #ddd;
}

/* code */
pre {
    border: 1px solid #242428;
    padding: 1em;
    overflow-x: auto;
}

li code { 
    border-radius: 4px;
    padding: 3px;
    background-color: #181A1B;
}

p code {
    border-radius: 4px;
    padding: 3px;
    background-color: #181A1B;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
