{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
</div>
{{ with .Params.author }}<h3 class="author">{{ . }}</h3>{{ end }}
{{ if .Params.date }}<span> Published: {{ .Date.Format "2006/01/02" }}.</span>{{ end }}
{{ if .Params.lastmod }}<span> Modified: {{ .Lastmod.Format "2006/01/02" }}</span>{{ end }}

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
